/*section,article, ul{outline: 1px solid red; background: rgba(255,0,0,2);}*/
/* .grid-container {outline: 1px solid blue;}
.proof{border: 1px solid red;} */
/* @media only screen and (max-width:50em){} */

  /* @media screen and (max-width: 900px) { */
/* .section{
  overflow: visible;
  background-color: #fff;
} */

/* .container {
  position: -webkit-sticky;
  position: sticky;
  height: 120px;
  left: -30px;
  top: 0px;
  overflow: visible;
  clear: none;
  background-color: #1e3d7b;
} */



*{
	margin:0px;
	padding:0px;
}

.index {
	background-image: url(../images/bg5-multimedia.jpg);

	background-size: 100% 110%;
	width: 100%;
	/* height: 100vh; */
  height: 40vw;
}

.menu{

	width: 100%;
	height: 100px;
	background-color: rgba(30, 61, 123);
}

.leftmenu{
	width: 20%;
	line-height: 100px;
	float: left;
/*	background-color: yellow;*/
}

.leftmenu h4{
	padding-left: 70px;
	font-weight: bold;
	color: white;
	font-size: 22px;
	font-family: 'Montserrat', sans-serif;
}


.rightmenu{
	width:70%;
	height: 100px;
	float: right;
/*	background-color: red; */
}

.rightmenu ul{
	margin-left: 200px;
}

.rightmenu ul li {
	font-family: 'Montserrat', sans-serif;
	display: inline-block;
	list-style: none;
	font-size: 15px;
	color:white;
	font-weight: bold;
	line-height: 100px;
	margin-left: 40px;
	text-transform: uppercase;

}

#fisrtlist{
	color: orange;
}

.rightmenu ul li:hover{
	color: orange;
}


.text{
	width: 100%;
	margin-top: 185px;
	text-transform: uppercase;
	text-align: center;
	color:white;
}

.text h4{

	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}

.text h1{
	font-size:62px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700px;
	margin:14px 0px;
}

.text h3{
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
}


#buttonone{
	background-color: white;
	border: none;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 40px;
	width: 150px;
	font-family: 'Montserrat', sans-serif;
	margin-top: 25px;
	border: 3px solid white;
}

#buttontwo{

	background-color: transparent;
	border: none;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 40px;
	border: 3px solid white;
	width: 150px;
}
